/bin
/releases
/maven
/build/
/repository/
/test-output/
/img
/dependencies
/.idea/
/target
*.log
*.iml
*.zip
*.out
*.html
*.classpath
*.project
/logs
/test-results
/ResultScreens
/Destination
/DOC
/Drivers
/AllDrivers
/.settings
/lib
/IEDriverServer_Win32_2.53.1
